<!-- <div class="login"> -->
<mat-card style="width:97.7%;height:87%;background-image: url('../../assets/loginback.jpg');">
  <mat-card class="mat-card1">
    <mat-card-content>
      <div class="header">
        <P>Sign Into Your Account </P>
      </div>
      <form name="loginForm" [formGroup]="loginForm">
        <div class="emailInput">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>UserName</mat-label>
            <input formControlName="userName" matInput placeholder="Enter UserName or email address" required />
            <mat-error *ngIf="!loginForm.controls['userName'].valid">
              username is required
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <!-- <span>
            <a class="text-link" class="aLink" routerLink="/auth/forgot-password">Forgot Password?</a>
          </span> -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
              [attr.aria-pressed]="hide">
              <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
              </mat-icon>
            </button>
            <mat-error *ngIf="!loginForm.controls['password'].valid">
              Password is required
            </mat-error>
          </mat-form-field>
        </div>
        <button mat-flat-button color="primary" (click)="onLogin()" [disabled]="loginForm.invalid">Login</button>
        <br>
        <div *ngIf="notAdmin">
          <p style="color: red;">Invalid <strong>Username</strong> Or <strong>Password</strong>!</p>
        </div>
      </form>

      <!-- <div class="button-row">
        <p>Create New Account</p>
      </div> -->
    </mat-card-content>
  </mat-card>
</mat-card>
<!-- </div> -->